

<!-- app.component.html -->

<div>
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/data-list">Data List</a>
  </nav>
  <router-outlet></router-outlet>
</div>


<!-- data-list.component.html -->

<div class="container mx-auto">
    <!-- Using utilities: -->
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded absolute top-5 right-20 h-16" (click)="openModal()">
        Add +
    </button>
    <h1 class="text-2xl font-bold my-4">Data List</h1>
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">Avatar</th>
          <th class="py-2 px-4 border-b">Name</th>
          <th class="py-2 px-4 border-b">Country</th>
          <th class="py-2 px-4 border-b">City</th>
          <th class="py-2 px-4 border-b">Balance</th>
          <!-- Tambahkan kolom lain sesuai kebutuhan -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td class="py-2 px-4 border-b object-none object-center"><img src="{{ item.avatar }}" alt=""></td>
          <td class="py-2 px-4 border-b text-center">{{ item.name }}</td>
          <td class="py-2 px-4 border-b text-center ">{{ item.country }}</td>
          <td class="py-2 px-4 border-b text-center">{{ item.city }}</td>
          <td class="py-2 px-4 border-b text-center">{{ item.currency }} {{ item.balance}}</td>
          <!-- Tambahkan kolom lain sesuai kebutuhan -->
        </tr>
      </tbody>
    </table>
  </div>

  

<div *ngIf="isModalOpen" class="fixed inset-0 z-10 overflow-y-auto">
    <!-- Konten modal di sini -->
    <div class="fixed inset-0 bg-gray-500 opacity-100">
    <div class="flex items-center justify-center min-h-screen">
      <div class="bg-white w-96 p-6 rounded shadow-md">
        <h2 class="text-xl font-semibold mb-4">Input Form</h2>
  
        <!-- Form Input -->
        <div class="input-data">
          <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-600">Name</label>
            <input #name type="text" id="name" name="name" class="mt-1 p-2 w-full border rounded">
          </div>
  
          <div class="mb-4">
            <label for="currency" class="block text-sm font-medium text-gray-600">Currency</label>
            <input #currency type="text" id="currency" name="currency" class="mt-1 p-2 w-full border rounded">
          </div>
  
          <div class="mb-4">
            <label for="balance" class="block text-sm font-medium text-gray-600">Balance</label>
            <input #balance type="number" id="balance" name="balance" class="mt-1 p-2 w-full border rounded">
          </div>
  
          <div class="mb-4">
            <label for="country" class="block text-sm font-medium text-gray-600">Country</label>
            <input #country type="text" id="country" name="country" class="mt-1 p-2 w-full border rounded">
          </div>
  
          <div class="mb-4">
            <label for="city" class="block text-sm font-medium text-gray-600">City</label>
            <input #city type="text" id="city" name="city" class="mt-1 p-2 w-full border rounded">
          </div>
  
          <!-- Button Submit -->
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="postDataTutorial(name.value, currency.value,balance.value, country.value,city.value)">Submit</button>
        </div>
          
  
        <!-- Button untuk menutup modal -->
        <button class="mt-4 text-gray-500 hover:text-gray-700" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
    <!-- <div class="input-data">
      <label for="name">Nama</label>
      <input #name type="text" id="name" name="name">
  
      <label for="currency">Currency</label>
      <input #currency type="text" id="currency" name="currency" >

      <label for="balance">Balance</label>
      <input #balance type="number" id="balance" name="balance">
  
      <label for="country">Negara</label>
      <input #country type="text" id="country" name="country" >

      <label for="city">Kota</label>
      <input #city type="text" id="city" name="city" >
      <button (click)="postDataTutorial(name.value, currency.value,balance.value, country.value,city.value)">Post!</button>
    </div> -->

  <!-- <button (click)="closeModal()">Close</button> -->
</div>
