<!-- 
<div>
  Hi, User
</div>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded absolute top-0 right-0">
  Add +
</button>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Avatar
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Nama
              </th>
              <th scope="col" class="px-6 py-3">
                  Negara
              </th>
              <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Kota
              </th>
              <th scope="col" class="px-6 py-3">
                  Balance
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Apple MacBook Pro 17"
              </th>
              <td class="px-6 py-4">
                  Silver
              </td>
              <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                  Laptop
              </td>
              <td class="px-6 py-4">
                  $2999
              </td>
              <td class="px-6 py-4">
                $2999
            </td>
          </tr>
      </tbody>
  </table>
</div> -->

<!-- data-list.component.html -->


<!-- app.component.html -->

<div>
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/data-list">Data List</a>
  </nav>
  <router-outlet></router-outlet>
</div>
